*.dSYM
.vscode
bm25_rerank*
bm25.*
collection.tsv
compressed_inverted_index.bin
final_merged.bin
fusion.*.trec
hnsw.*.trec
index
lexicon.bin
merging
metadata.bin
msmarco_*
page_table.txt
parsing
qrels*
queries*
querying
subset_passages.tsv
temp*.bin
venv
